@if(localMenuVisible()){
<div (click)="onMenuItemClick()"
    class="fixed z-10 top-0 right-0 w-full h-full bg-gray-500/60 flex items-center justify-center"></div>
}
<div class="relative app-settings-right" [class.translate-x-0]="localMenuVisible()"
    [class.translate-x-full]="!localMenuVisible()">
    <!-- Menu Close Button -->
    <div class="md:hidden absolute top-2 right-2">
        <button class="app-menu-close-btn" (click)="onMenuItemClick()">
            <svg class="size-5 fill-gray-500 dark:fill-gray-400" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 384 512">
                <path
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
            </svg>
        </button>
    </div>

    <!-- Menu Items -->
    <!-- Theme Menu Item -->
    <div class="group app-settings-item">
        <div
            class="text-slate-700 dark:text-gray-400 group-hover:text-slate-900 dark:group-hover:text-gray-200 text-lg font-semibold">
            Theme
        </div>

        <!-- Dark/Light Mode Button -->
        <button (click)="switchTheme()" class="app-theme">
            @if (!isThemeDark()) {
            <!-- Dark SVG Icon -->
            <svg class="size-5 md:size-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
            </svg>
            }
            @else {
            <!-- Light SVG Icon -->
            <svg class="size-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                    fill-rule="evenodd" clip-rule="evenodd"></path>
            </svg>
            }
        </button>
    </div>

    @if (authService.isAuthenticated()) {
    <!-- Quran Translator Menu Item -->
    <div class="app-settings-item">
        <div
            class="text-slate-700 dark:text-gray-400 group-hover:text-slate-900 dark:group-hover:text-gray-200 text-lg font-semibold">
            Quran Translator
        </div>

        @defer (when quranTranslators().length > 0) {
        <select (change)="onQuranTranslatorChange($event)"
            class="p-2 rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-100 focus:ring-2 focus:ring-slate-500 focus:border-slate-500 appearance-none bg-none">
            @for (translator of quranTranslators(); track $index) {
            <option [value]="translator.name" [selected]="translator.name === selectedTranslator()">
                {{translator.full_name}}
            </option>
            }
        </select>
        }
        @placeholder {
        <div class="animate-pulse h-10 w-32 bg-gray-600 bark:bg-slate-200 rounded"></div>
        }
    </div>

    <!-- Hadith Source Menu Item -->
    <div class="app-settings-item">
        <div
            class="text-slate-700 dark:text-gray-400 group-hover:text-slate-900 dark:group-hover:text-gray-200 text-lg font-semibold">
            Hadith Source
        </div>

        @defer (when quranTranslators().length > 0) {
        <select (change)="onHadithSourceChange($event)"
            class="p-2 rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-100 focus:ring-2 focus:ring-slate-500 focus:border-slate-500 appearance-none bg-none">
            @for (source of hadithSources(); track $index) {
            <option [value]="source" [selected]="source === selectedSource()">
                {{source}}
            </option>
            }
        </select>
        }
        @placeholder {
        <div class="animate-pulse h-10 w-32 bg-gray-600 bark:bg-slate-200 rounded"></div>
        }
    </div>
    }

</div>