<div class="group flex flex-col space-y-2 justify-center items-center p-2 mx-auto" [routerLink]="link()">
    <svg class="size-8 fill-slate-600 dark:fill-gray-400 group-hover:fill-slate-800 dark:group-hover:fill-gray-200 group-active:fill-slate-800 dark:group-active:fill-gray-200 group-focus:fill-slate-800 dark:group-focus:fill-gray-200"
        xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="viewBox()">
        <path [attr.d]="path()" />
    </svg>
    <div
        class="text-slate-700 dark:text-gray-400 group-hover:text-slate-900 dark:group-hover:text-gray-200 text-sm font-semibold">
        {{ title() | titlecase }}
    </div>
</div>