@if(localMenuVisible()){
<div (click)="onMenuItemClick()"
    class="fixed z-10 top-0 left-0 w-full h-full bg-gray-500/60 flex items-center justify-center"></div>
}
<div class="relative app-menu-left" [class.translate-x-0]="localMenuVisible()"
    [class.-translate-x-full]="!localMenuVisible()">
    <div class="md:hidden absolute top-2 right-2">
        <button class="app-menu-close-btn" (click)="onMenuItemClick()">
            <svg class="size-5 fill-gray-500 dark:fill-gray-400" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 384 512">
                <path
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
            </svg>
        </button>
    </div>
    <div class="items-center md:items-start italic font-light text-slate-700 dark:text-gray-400">
        Assalamualaikum, {{ userName() | titlecase }}
    </div>
    <button type="button" class="group app-menu-item" routerLink="home" (click)="onMenuItemClick()">
        <div
            class="text-slate-700 dark:text-gray-400 group-hover:text-slate-900 dark:group-hover:text-gray-200 text-lg font-semibold">
            Home
        </div>
        <svg class="size-5 fill-slate-600 dark:fill-gray-400 group-hover:fill-slate-800 dark:group-hover:fill-gray-200 group-active:fill-slate-800 dark:group-active:fill-gray-200 group-focus:fill-slate-800 dark:group-focus:fill-gray-200"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
                d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
        </svg>
    </button>

    @if (authService.isAuthenticated()) {
    <!-- Profile Item -->
    <button type="button" class="group app-menu-item" routerLink="profile" (click)="onMenuItemClick()">
        <div
            class="text-slate-700 dark:text-gray-400 group-hover:text-slate-900 dark:group-hover:text-gray-200 text-lg font-semibold">
            Profile
        </div>
        <svg class="size-5 fill-slate-600 dark:fill-gray-400 group-hover:fill-slate-800 dark:group-hover:fill-gray-200 group-active:fill-slate-800 dark:group-active:fill-gray-200 group-focus:fill-slate-800 dark:group-focus:fill-gray-200"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" />
        </svg>
    </button>
    }

    <!-- Feedback Item -->
    <button type="button" class="group app-menu-item" routerLink="feedback" (click)="onMenuItemClick()">
        <div
            class="text-slate-700 dark:text-gray-400 group-hover:text-slate-900 dark:group-hover:text-gray-200 text-lg font-semibold">
            Feedback
        </div>
        <svg class="size-5 fill-slate-600 dark:fill-gray-400 group-hover:fill-slate-800 dark:group-hover:fill-gray-200 group-active:fill-slate-800 dark:group-active:fill-gray-200 group-focus:fill-slate-800 dark:group-focus:fill-gray-200"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
            <path
                d="M208 352c114.9 0 208-78.8 208-176S322.9 0 208 0S0 78.8 0 176c0 38.6 14.7 74.3 39.6 103.4c-3.5 9.4-8.7 17.7-14.2 24.7c-4.8 6.2-9.7 11-13.3 14.3c-1.8 1.6-3.3 2.9-4.3 3.7c-.5 .4-.9 .7-1.1 .8l-.2 .2s0 0 0 0s0 0 0 0C1 327.2-1.4 334.4 .8 340.9S9.1 352 16 352c21.8 0 43.8-5.6 62.1-12.5c9.2-3.5 17.8-7.4 25.2-11.4C134.1 343.3 169.8 352 208 352zM448 176c0 112.3-99.1 196.9-216.5 207C255.8 457.4 336.4 512 432 512c38.2 0 73.9-8.7 104.7-23.9c7.5 4 16 7.9 25.2 11.4c18.3 6.9 40.3 12.5 62.1 12.5c6.9 0 13.1-4.5 15.2-11.1c2.1-6.6-.2-13.8-5.8-17.9c0 0 0 0 0 0s0 0 0 0l-.2-.2c-.2-.2-.6-.4-1.1-.8c-1-.8-2.5-2-4.3-3.7c-3.6-3.3-8.5-8.1-13.3-14.3c-5.5-7-10.7-15.4-14.2-24.7c24.9-29 39.6-64.7 39.6-103.4c0-92.8-84.9-168.9-192.6-175.5c.4 5.1 .6 10.3 .6 15.5z" />
        </svg>
    </button>

    @if (!authService.isAuthenticated()) {
    <!-- LogIn Item -->
    <button type="button" class="group app-menu-item" routerLink="login" (click)="onMenuItemClick()">
        <div
            class="text-slate-700 dark:text-gray-400 group-hover:text-slate-900 dark:group-hover:text-gray-200 text-lg font-semibold">
            LogIn
        </div>
        <svg class="size-5 fill-slate-600 dark:fill-gray-400 group-hover:fill-slate-800 dark:group-hover:fill-gray-200 group-active:fill-slate-800 dark:group-active:fill-gray-200 group-focus:fill-slate-800 dark:group-focus:fill-gray-200"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
                d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z" />
        </svg>
    </button>
    }
    @else {
    <!-- LogOut Item -->
    <button type="button" class="group app-menu-item" (click)="onLogOut()">
        <div
            class="text-slate-700 dark:text-gray-400 group-hover:text-slate-900 dark:group-hover:text-gray-200 text-lg font-semibold">
            LogOut
        </div>
        <svg class="size-5 fill-slate-600 dark:fill-gray-400 group-hover:fill-slate-800 dark:group-hover:fill-gray-200 group-active:fill-slate-800 dark:group-active:fill-gray-200 group-focus:fill-slate-800 dark:group-focus:fill-gray-200"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" />
        </svg>
    </button>
    }

    <!-- App Info -->
    <div class="absolute bottom-0 md:right-0 w-full text-center text-slate-700 dark:text-gray-400 px-2 py-3">
        <div class="flex flex-col justify-center items-center">
            <!-- App Version -->
            <div class="text-xs">v{{ appVersion }}</div>
            <!-- Developed By -->
            <div class="text-sm">Developed by
                <a class="text-purple-700 dark:text-purple-500 hover:underline hover:text-purple-800 dark:hover:text-purple-600 hover:font-semibold"
                    href="https://www.linkedin.com/in/ezazul-haq-abdul-932b2976" target="_blank"
                    rel="noopener noreferrer">
                    Ezazul Haq
                </a>
            </div>
        </div>
    </div>
</div>